<mat-card>
  <mat-spinner *ngIf="estaCarregando"></mat-spinner>
  <form [formGroup]="form" (submit)="onSalvarLivro()"  *ngIf="!estaCarregando">

    <mat-form-field>
      <input
        type="text"
        required
        minlength="3"
        matInput
        placeholder="titulo"
        formControlName="titulo"
        name="titulo">
      <mat-error *ngIf="form.get('titulo').invalid">Digite um titulo válido</mat-error>
    </mat-form-field>

    <div>
      <button mat-stroked-button type="button" (click)="selecionaArquivo.click()">Selecionar imagem</button>
      <input type="file" #selecionaArquivo>
    </div>

    <mat-form-field>
      <input
        type="text"
        required
        matInput
        placeholder="autor"
        formControlName="autor"
        name="autor">
      <mat-error *ngIf="form.get('autor').invalid">Digite um teleautor válido</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        type="text"
        required
        matInput
        placeholder="numero"
        formControlName="numero"
        name="numero">
        <mat-error *ngIf="form.get('numero').invalid">Digite um numero válido</mat-error>
    </mat-form-field>

    <button mat-raised-button color="accent">Salvar Livro</button>
  </form>
</mat-card>
